@mixin cols($size: $cols of $parent-cols) {
   $cols: nth($size, 1);
   $total-cols: get-second-value($size);
   $width: percent($cols, $total-cols);
   width: $width;

   // Responsive styles for items which aren't full width
   @if $total-cols / $cols != 1 {
		// TODO: Decide on responsive behaviour, or take out? 
   }
}

// Easy alias for full-width components
@mixin full-width() {
   @include cols(1 of 1);
}