@mixin component($break: false, $direction: $layout-direction, $text-direction: $layout-direction, $padding: $component-padding) {
   $float: left;
   @if $direction == rtl {
      $float: right;
   }
   float: $float;
   direction: $text-direction;
   position: relative;
   
   @if $break {
      @include break($direction);
   }
   
   box-sizing: border-box;
   // add a default width here. It gets overridden by cols()
   width: 100%;
   // add default padding. This can be overridden
   padding: $padding;
   
   @media screen and (max-width: 480px) {
      width: 100%;
      left: auto;
      right: auto;
   }
}