@mixin component($break: false, $direction: $layout-direction) {
   $float: left;
   @if $direction == rtl {
      $float: right;
      direction: rtl;
   }
   float: $float;
   position: relative;
   
   @if $break {
      @include break($direction);
   }
   
   box-sizing: border-box;
   // add a default width here. It gets overridden by cols()
   width: 100%;
   
   @media screen and (max-width: 480px) {
      width: 100% !important;
      left: auto !important;
      right: auto !important;
   }
}

@mixin break($direction: $layout-direction) {
   $clear: left;
   @if $direction == rtl {
      $clear: right;
   }
   &+* {
      clear: $clear;
   }
}

@mixin cols($size: $cols of $parent-cols) {
   $cols: nth($size, 1);
   $total-cols: get-second-value($size);
   $width: percent($cols, $total-cols);
   width: $width;
   
   // Responsive styles for items which aren't full width
   @if $total-cols / $cols != 1 {
      
   }
}

@mixin padding($padding: $component-padding) {
   padding: box-numbers($padding)
}

// Easy alias for full-width components
@mixin full-width() {
   @include cols(1 of 1);
}

@mixin indent($amount: $cols of $parent-cols, $direction: $layout-direction) {
   $horiz: if($direction == rtl, right, left);
   $percent: get-col-percentage($amount);
   #{$horiz}: $percent;
}

@mixin outdent($amount: $cols of $parent-cols, $direction: $layout-direction) {
   $horiz: if($direction == rtl, right, left);
   $percent: get-col-percentage($amount);
   #{$horiz}: $percent * -1;
}

@mixin reset-position() {
   left: auto !important;
   right: auto !important;
}