@mixin container($max-width: 85.375em, $align: "center") {
   $margin-left: auto;
   $margin-right: auto;
   overflow: hidden;
   position: relative;
   *zoom: 1;
   max-width: $max-width; // TODO: How does the em width affect nested containers when we allow for ems stacking? Could this cause problems? Would we be better served by not using ems for max-width here?
   
   @if $align == left {
      $margin-left: 0;
   }
   @if $align == right {
      $margin-right: 0;
   }
   
   margin-left: $margin-left;
   margin-right: $margin-right;
}
