@import "ignition/full";

@include normalize;

html, body {
   margin: 0;
   padding: 0;
   text-align: center;
}

// Fonts
@font-face {
    font-family: 'Verb';
    src: url('../fonts/VerbLight-webfont.eot');
    src: url('../fonts/VerbLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VerbLight-webfont.woff') format('woff'),
         url('../fonts/VerbLight-webfont.ttf') format('truetype'),
         url('../fonts/VerbLight-webfont.svg#verb_lightregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

$serif: Georgia, serif;
$sans: Verb, Helvetica, Arial, sans-serif;

#content {
   width: 100%;
   position: relative;
   text-align: left;
}

header {
   top: 0;
   left: 0;
   overflow: visible;
   height: 0;
   width: 100%;
   position: fixed;
   display: inline-block;
   text-align: center;
   z-index: 10;
   
   @media screen and (max-width: 1023px) {
      max-width: 100%;
      background-color: #000;
      height: 50px;
      left: 0;
   }
   
   & > div {
      @include container(72.5em);
      height: 0;
      overflow: visible;
      text-align: left;
      //margin-left: -50%;
      
      @media screen and (max-width: 1023px) {
         margin-left: 0;
      }
   }
   
   .chevron {
      @include component;
      @include padding(0 20px);
      @include cols(2);
      
      @media screen and (max-width: 1023px) {
         height: 32px;
         width: 32px;
         @include padding(0 0 0 20px);
      }
   }
   
   a.nav-trigger {
      @include component;
      @include padding(46px 0);
      text-align: center;
      
      @media screen and (max-width: 1023px) {
         width: 50px;
         text-align: center;
         @include padding(9px 0);
         
         img {
            height: 32px;
            width: 32px;
         }
      }
   }
   
   nav {
      display: none;
   }
}

section > .inner {
   @include container(54.175em);
   @include padding(0 0 0 18.125em);
   
   & > p {
      padding-left: 20px;
      padding-right: 20px;
   }
   
   @media screen and (max-width: 1159px) {
      @include container(60.4em);
      @include padding(0 0 0 12.1em)
   }
   
   @media screen and (max-width: 1023px) {
      @include container(72.5em);
      @include padding(0)
   }
}

section {
   padding: 70px 0;
   
   p {
      font-family: $serif;
      line-height: 130%;
   }
}



.intro {
   color: #ccc;
   background: #19232C url(../images/head-bg.jpg) repeat-x left top;
   
   h1 {
      @include component;
      @include cols(4 of 9);
      color: #fff;
      font-family: $sans;
      text-transform: lowercase;
      letter-spacing: 0.05em;
      font-size: 5em;
      margin-bottom: 0;
      padding-bottom: 0;
      
      &:after {
         content: ".";
         color: #FF9900;
      }
      
      @media screen and (max-width: 480px) {
         margin-top: 0;
         padding-top: 0;
         text-align: center;
      }
   }
   
   .post {
      @include component;
      @include break;
      @include cols(4 of 9);
      font-family: $sans;
      text-transform: uppercase;
      margin-top: 0;
      padding-top: 0;
      
      @media screen and (max-width: 480px) {
         text-align: center;
      }
   }
   
   .cube {
      @include component;
      margin-top: 10px;
      float: left;
      @include cols(5 of 9);
   }
   
   .features {
      padding: 0;
      
      li {
         @include component;
         @include cols(3 of 9);
         list-style: none;
         margin: 0;
         @include padding(20px);
         
         h3 {
            font-family: $sans;
            text-transform: lowercase;
            
            &:after {
               content: ".";
               color: #FF9900;
            }
         }
         
         p {
            font-family: $serif;
         }
      }
   }
}

h2 {
   @include component;
   font-family: $sans;
   letter-spacing: 0.05em;
   text-transform: lowercase;
   &:after {
      content: ".";
      color: #FF9900;
   }
}

